
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
$fa-font-path:"../webfonts";
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "~admin-lte/dist/css/adminlte.css";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";




.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.44)
}
.router-link-active {
    background-color:#007bff !important;
    color:#ffffff !important;
}
select.form-control:not([size]):not([multiple]) {
    height: 33px !important;
}
.help-block {
    color: #e40c0ce1 !important;
}



